<h1>Editing option_type</h1>

<% form_for(@option_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :of_type %><br />
    <%= f.text_field :of_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @option_type %> |
<%= link_to 'Back', option_types_path %>
